{% extends 'base.html' %} {% load static %} {% block head %} {% endblock head %} {% block title %}Ben Truong - Contact Me{% endblock %} {% block content %} <div
  id="recipientContainer" class="container-fluid"></div> {% load staticfiles %} 
<!-- background -->
<div id="signUpContainer" class="container mt-5 mb-5">
  <div class="col-12 offset-sm-4 col-sm-5 px-0">
    <form action="" method="post">
      <h2>Send me an email 👍</h2> {% csrf_token %} {% if form.errors %} {% for field in form %} {% for error in field.errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div> {% endfor %} {% endfor %} {% for error in form.non_field_errors %} <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div> {% endfor %} {% endif %} {% for field in form %} <label>{{field.label}}</label><br> {{field}} {% endfor %}
      <div id="submitWrapper"><button type="submit" class="btn btn-primary w-100" value='login'>Send Message</button>
      </div>
    </form>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'home/style_auth.css' %}">{% endblock content %}