{% extends 'base.html' %} {% load static %} {% block head %} {% endblock head %} {% block title %}Ben Truong - Contact Me{% endblock %} {% block content %} <div
  id="recipientContainer" class="container-fluid"></div> {% load staticfiles %} 
<!-- background -->
<div id="signUpContainer" class="container mt-5 mb-5">
  <div class="col-12 offset-sm-4 col-sm-5 px-0">
    <h2>
    	Email sent successfully! <br></br>Please expect a reply soon😊
    </h2><br>
    <p><a href="/">back to front page</a></p>
  </div>
</div>
{% endblock content %}